.review-item {
    width: 570px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    margin-bottom: 25px;
    display: flex;
}

.review-item img {
    width: 91px;
    height: 91px;
    padding: 8px;
    border-radius: 6px;
}